/*media query einbauen für unter 800 bis 900 vw, dass tasConter 80 vw statt 60 vw*/

#container{
    display: flex;
    font-size: 20px; 
    justify-content: center;
    /*Have searchbar and heading of the two containers next to each other*/
}

#context-container{
    width: 20vw;
    height: 100vh;
    background-color: rgb(112,135,114, 0.8);
}

#search-field {
  width: 18vw;
  padding: 0.5vw;
  margin: 0.5vw;
}

#context-add{
  width: 19vw;
  height: 3vw;
  outline: none;
  margin-bottom: 1vw;
  background-color: rgb(112,135,114);
  color: white;
}

#context-add-button{
  margin-left: 0.5vw;
  color: white;
  font-size: 2.8vw;
  cursor: pointer;
}

#context-add-button:focus{
  outline:none;
}

#context-input {
  width: 11.45vw;
  height: 2.2vw;
  outline: none;
  font-size: 1.8vw;
  color: white;
}

#task-container{
    /*Have a padding to the left for all items*/
    width: 60vw;
    height: 100vh;
    background-color: rgb(112,135,114, 0.5);
}

#context-heading{
  /*Change color to input box color*/
  /*Have margin between heading and input box*/
  /*align the text to the left*/
  color: white;
  margin: 0.6vw;
  display: inline-block;
}

#task-input { 
  width: 55vw;
  height: 2.2vw;
  outline: none;
  font-size: 1.8vw;
  color: white;
} 

#task-add {
  width: 58vw;
  height: 3vw;
  outline: none;
  margin-bottom: 1vw;
  background-color: rgb(112,135,114);
  color: white;
}

#task-add-button{
  margin-left: 0.5vw;
  color: white;
  font-size: 2.8vw;
  cursor: pointer;
}

#task-add-button:focus{
  outline:none;
}

.task, .context{
    width: 18vw;
    background-color: aqua;
    margin: 0.5vw;
    padding: 0.5vw;
}

.delete-task-button, .delete-context-button {
    /*Delete should look like it is inside input box*/
    /*Delete sign white*/
    float: right; 
}

::placeholder{
    color: white;
    opacity: 1; /*Firefox*/
}
